<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="LokiCheckout\Core\Config\LokiCheckoutModules">
        <arguments>
            <argument name="modules" xsi:type="array">
                <item name="LokiCheckout_MultiSafepay" xsi:type="string">LokiCheckout_MultiSafepay</item>
            </argument>
        </arguments>
    </type>
</config>
