<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Yireo_LokiCheckoutMultiSafepay">
        <sequence>
            <module name="Magento_Quote"/>
            <module name="Magento_Store"/>
            <module name="MultiSafepay_ConnectCore"/>
            <module name="MultiSafepay_ConnectFrontend"/>
            <module name="Yireo_LokiCheckout"/>
            <module name="Yireo_LokiComponents"/>
            <module name="Yireo_IntegrationTestHelper"/>
        </sequence>
    </module>
</config>
