<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Yireo_LokiCheckoutMultiSafepay">
        <sequence>
            <module name="Yireo_LokiCheckout"/>
            <module name="MultiSafepay_ConnectCore"/>
            <module name="MultiSafepay_ConnectAdminHtml"/>
        </sequence>
    </module>
</config>
