<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Yireo\LokiCheckout\Payment\Icon\IconResolverListing">
        <arguments>
            <argument name="iconResolvers" xsi:type="array">
                <item name="multisafepay" xsi:type="object">Yireo\LokiCheckoutMultiSafepay\Payment\Icon\IconResolver</item>
            </argument>
        </arguments>
    </type>
</config>
